*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body{
    background-color: rgb(191, 220, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    height: 330px;
    width: 350px;
    background-color: rgb(196, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    outline: none;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.4);
    border-radius: 10px;
}

h1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

form{
    height: 205px;
    width: 95%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-bottom: 2px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#billAmtL{
    font-size: 18px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 180px;
}

#tipPctL{
    font-size: 18px;
    margin-top: 9px;
    margin-bottom: 9px;
    margin-right: 150px;
}

input{
    width: 90%;
    height: 25px;
    padding-left: 5px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-bottom: 3px;
}

.btn{
    background-color: rgb(69, 69, 238);
    color: white;
    border: none;
    outline: none;
    width: 35%;
    font-size: 20px;
    padding: 2px;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 16px;
}

.btn:hover{
    opacity: 0.85;
    cursor: pointer;
}

.msg-container{
    width: 90%;
    margin: 10px 15px;
}

.para{
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
}

hr{
    width: 90%;
    margin-left: 5%;
    margin-top: 5px;
    font-weight: 100;
}